global:
  scrape_interval: 100ms
  evaluation_interval: 100ms
scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: cadvisor
    static_configs:
      - targets: [ "cadvisor:8080" ]
  - job_name: postgres-exporter
    static_configs:
      - targets: ["postgres-exporter:9187"]
  - job_name: es-exporter
    static_configs:
      - targets: [ "es-exporter:9114" ]
  - job_name: go_pq_cdc_exporter
    # DNS service discovery ile tüm scaled instance'ları scrape edebiliriz
    dns_sd_configs:
      - names:
          - 'tasks.go-pq-cdc-kafka'
        type: 'A'
        port: 2112
        refresh_interval: 5s
    # Fallback için static config de ekleyelim
    static_configs:
      - targets: [ "go-pq-cdc-kafka:2112" ]
  - job_name: redpanda_exporter
    metrics_path: "/metrics"
    static_configs:
      - targets: [ "redpanda:9644" ]